body{
    height: 100%;
    margin: 0px;
}
html{
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}
h1{
  margin: 0px;
  color: #eee;
}
input:focus{
  border: none;
  outline: none;
}
p{
  margin: 0;
}